.message-card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message-card-container.by-user {
    justify-content: flex-end;
}

.message-card {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    /* background-color: aqua; */
}

.message-content {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1pxs solid black; */
}
